<h1>
    Name: <%= @user.name %>
</h1>

<h2>
    Age: <%= @user.age %>
</h2>

<ul>
    <% @user.remedies.each do |remedy_instance|%>
    <lil>
    Remedy: <%= remedy_instance.name %>
    </li>

    <% end %>
</ul>

<ul>
    <% @user.conditions.each do |condition_instance|%>
    <lil>
    Condition: <%= condition_instance.name %>
    remedy: <%= condition_instance.remedy.name %>
    </li>

    <% end %>
</ul>